@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --primary-background: #030516; 
  --font-lexend: "lexend", sans-serif;
  --secondary-background: #1f3449;
  --linear-background: rgba(12, 38, 69, 0);
  --linear-background2: rgba(7, 22, 38, 0);
  --accent: #60a6e7;
  --dark-grey: #aea9b1;
  --light-grey: #e6e0e9;
}

.font-lexend {
  font-family: var(--font-lexend);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background: #030516; 
    --foreground: #ededed;
  }
}

body {
  color: var(--accent);
  background: var(--primary-background);
  font-family: var(--font-lexend);
}

/* .hide-scrollbar::-webkit-scrollbar{
  width: 0;
  height: 0;
} */
